<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
    <title>SIH</title>
</head>
<body>
<form action='/check' method='post'> {% csrf_token %}
    {% load i18n %}
            <div class="citySelection">

                <p>Select Language</p>

                   <select id="language" name="language" size="1">
                        <option value="English">English</option>
                        <option value="Hindi">Hindi</option>
                   </select><br>
             <!--  <input type=text" id="country"/>-->
			    <p>Select Country</p>
			       <select  size="1" name="country">
                        <option value="India">{% trans "India" %}</option>
                   </select>

                <p>Select State</p>
			        <select onchange="checkCity(this.options[this.selectedIndex].value)" method="get" id="state" name="state" size="1">
                        {% for s in state1 %}
                        <option value="{{ s.id }}">{{ s.name }}</option>
                        {% endfor %}
                   </select>

			    <p>Select City</p>
                    <select id="city" name="city" size="1">

                   </select>
                 <br>
                <h1 id="demo"></h1>
                <h1 id="demo1"></h1>
                <h1 id="demo2"></h1>
			     <input type="submit" value="NEXT">
            </div>
</form>
<script>
    function checkCity(selectValue){
        var cities={{ cities|safe }} ;

        var selectCity=document.getElementById("city");
        for(var k=0;k <selectCity.length;k++){
            selectCity.remove(k);
        }

        var i=0;
        for (var j = 0; j < cities.length ; j++){
            var htmlcontent = cities[j].fields.stateCity;
            if(htmlcontent==selectValue){
                 selectCity.options[i]=new Option(cities[j].fields.city,cities[j].fields.city);
                 i++;
            }
         }
    }
</script>

</body>
</html>