<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>TripMate</title>
</head>

<body>
    <div class="centerBlock">
        <div class="tripmate">WELCOME TO TRIPMATE</div>
        <div class="tagline">YOUR TRAVEL COMPANION</div>
        <div class="goToNextPage"><a href="tripMateForm">
            <img src="{% static 'img/next.png' %}">
        </a></div>
    </div>
</body>

</html>


