<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2:500&display=swap" rel="stylesheet">
    <title>Welcome - TripMate</title>
    <link rel = "icon" href =  "static/img/tripmate-logo.png" type = "image/x-icon">
</head>

<body>
    <div class="centerBlock">
        <div class="logoBlock">
            <img class="logoIcon" src = "{% static 'img/tripMateWhite.png' %}">
        </div>
        <div class="tripmate">Welcome to TripMate</div>
        <div class="tagline">Your Travel Companion.</div>
        <div class="goToNextPage"><a href="tripMateForm">
            <img class="nextIcon" src="{% static 'img/next.png' %}">
        </a></div>
    </div>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>

</html>


